.about-section {
  width: 100%;
}

.about-details-part {
  background-color: #0A192F;
  color: #CCD6F6;
  padding: 60px 20px;
  width: 100%;
  box-sizing: border-box;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #CCD6F6;
  text-align: center;
  margin-bottom: 30px;
}

.details-content-wrapper {
  max-width: 1300px;
  margin: 0 auto 60px auto;
}

.content-box {
  background-color: #112240;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-paragraph {
  font-size: 21px;
  line-height: 1.6;
  color: #8892B0;
  text-align: center;
  max-width: 1150px;
  margin: 0 auto 15px auto;
}

@media (max-width: 768px) {
  .about-paragraph {
    text-align: center;
    margin: 0 auto 12px auto;
  }
}